/* Основные стили для контейнера */
.container {
    width: 100%; /* Ширина контейнера равна 100% ширины экрана */
    max-width: 800px; /* Максимальная ширина контейнера */
    margin: 0 auto; /* Централизуем контейнер по горизонтали */
    padding: 20px; /* Внутренние отступы вокруг содержимого */
    box-sizing: border-box; /* Включаем новую модель размеров блоков */
}

/* Основные стили для боксов */
.box {
    padding: 10px; /* Внутренние отступы для боксов */
    margin-bottom: 20px; /* Внешний отступ снизу для боксов */
    background-color: #f9f9f9; /* Фоновй цвет боксов */
    border: 1px solid #ddd; /* Рамка вокруг боксов */
    box-sizing: border-box; /* Включаем новую модель размеров блоков */
}

/* Индивидуальные стили для каждого бокса */
.box1 {
    height: 200px; /* Высота первого бокса */
    width: 50%; /* Ширина первого бокса */
    float: left; /* Левое выравнивание первого бокса */
}

.box2 {
    height: 150px; /* Высота второго бокса */
    width: 25%; /* Ширина второго бокса */
    float: right; /* Правое выравнивание второго бокса */
}

.box3 {
    clear: both; /* Очистка плавающих элементов перед третьим боксом */
    height: 250px; /* Высота третьего бокса */
    width: 75%; /* Ширина третьего бокса */
}