        p {
            padding-top: 40px;
            margin: 0;
            font-size: 100px;
            font-family: sans-serif;
            text-align: center;
            vertical-align: middle;
          }


        .inner-div {
            height: 200px;
            width: 400px;
            margin: 10px;
            background-color: #096eeb;
          }
                  .container {
                                display: flex;/* создать flex-контейнер*/
                                flex-direction: column
                                flex-wrap: nowrap;
                                justify-content: space-between;


          }

       /*flex-direction определяет направление основной и поперечной осей в контейнере. Оно может принимать четыре значения
                    flex-direction: row; (по умолчанию) — элементы располагаются в строку, слева направо;
                    flex-direction: row-reverse; — элементы располагаются в строку, справа налево;
                    flex-direction: column; — элементы располагаются в столбец, сверху вниз;
                    flex-direction: column;-reverse — элементы располагаются в столбец, снизу вверх.*/

       /*flex-wrap  определяет, будут ли flex-элементы переноситься на другую строку, если им не хватит места в ряду. Свойство может принимать одно из трёх значений:
               flex-wrap: nowrap; (по умолчанию) — элементы не переносятся на новую строку, а сжимаются;
               flex-wrap: wrap; — элементы переносятся на новую строку;
               flex-wrap: wrap-reverse; — элементы переносятся на новую строку в обратном порядке.*/


       /*flex-flow: row wrap; объединяет в одно свойство flex-direction и flex-wrap, позволяя задать их значения в одной строке:*/

       /*justify-content определяет, как будут распределены элементы вдоль главной оси.

         Свойство насчитывает 10 значений, но стабильно во всех браузерах работают следующие:
         justify-content: flex-start; (по умолчанию): выравнивает элементы по началу главной оси;
         justify-content: flex-end; выравнивает элементы по концу главной оси;
         justify-content: center; центрирует элементы вдоль главной оси;
         justify-content: space-between; распределяет элементы по ширине, с одинаковым пространством между ними. Не добавляет отступы между крайними дочерними элементами и границей родителя;
         justify-content: space-around; добавляет пространство вокруг каждого элемента;
         justify-content: space-evenly; добавляет пространство не только между элементами, но и между ними и границей контейнера (см. иллюстрации ниже).*/

        /*align-items
          align-items выравнивает содержимое контейнера вдоль по поперечной оси.

          У свойства есть пять возможных значений:

           align-items: flex-start; элементы выравниваются по верхнему краю контейнера;
           align-items: flex-end; элементы выравниваются по нижнему краю контейнера;
           align-items: center; содержимое контейнера выравнивается по центру;
           align-items: baseline; элементы выравниваются по базовой линии текста, который в них содержится;
           align-items: stretch; внутренние элементы растягиваются на всю высоту flex-контейнера.*/

